#navbar {
    position: fixed;
    height: 80px;
    width: 100%;
    font-size: var(--mobile-fontsize);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    z-index: 999;
    background-color: transparent;
}
#navbar.nav-colored{
    background-color: var(--black);
}

.logo a,
.navbar-links a {
    position: relative;
    text-decoration: none;
    color: var(--white);
    margin: 1rem;
    cursor: pointer;
}

.logo {
    text-align: center;
}
.logo h1{
    font-size: var(--mobile-fontsize);
    text-align: center;
}
.logo p {
    background-color: var(--yellow);
    color: var(--black);
    text-align: center;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 900;
}

.navbar-links a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
    background-color: var(--white);
}

.navbar-links a:hover:after {
    width: 100%;
}

.navbar-links a:hover {
    color: var(--yellow);
}

@media (min-width:700px) {
    #navbar {
        justify-content: space-evenly;
    }

    #navbar p {
        font-size: 14px;
        letter-spacing: 3px;
    }

}

@media (min-width:700px) and (max-width:1024px) {
    #navbar a {
        font-size: var(--tab-fontsize);
        margin: 0 2rem;
    }
    .logo h1{
        font-size:  var(--tab-fontsize);
    }
}

@media (min-width:1025px) {
    #navbar a {
        font-size: var(--desktop-fontsize);
        margin: 0 3rem;
        text-align: left;
    }
    .logo h1{
        font-size: var(--desktop-fontsize);
    }
}
